<!-- Displays character sheet on bottom of page -->

{% if character %}
<div class="shadow">
    <div class="character-summary ripped-edges", id="character-summary">
        <h2>
            {{ character.player_name.capitalize() }} is playing a 
            {{ character.race }} {{ character.char_class }} named {{ character.character_name.capitalize() }}.
        </h2>
        <ul>
            {% for stat, value in character.ability_scores.items() %}
                <li>{{ stat.upper() }}: {{ value }}</li>
            {% endfor %}
        </ul>
        <hr>
        <p><strong>Speed:</strong> {{ character.speed }}</p>
    </div>
</div>
{% endif %}
