<!-- Displays character sheet on bottom of page -->

{% if character %}
<div class="shadow">
    <div class="character-summary ripped-edges", id="character-summary", style="height: 60rem; width: 50rem;">
        <h1>
            {{ character.player_name.capitalize() }} is playing a 
            {{ character.race }} {{ character.char_class }} named {{ character.character_name.capitalize() }}.
        </h1>
        <h2>
            <p><strong><span class="emojis">⚔️</span> STR: </strong> {{ character.str }} ({{ character.str_mod}})</p>
            <p><strong><span class="emojis">🏹</span> DEX: </strong> {{ character.dex }} ({{ character.dex_mod}})</p>
            <p><strong><span class="emojis">🛡️</span> CON: </strong> {{ character.con }} ({{ character.con_mod}})</p>
            <p><strong><span class="emojis">🔮</span> WIS: </strong> {{ character.wis }} ({{ character.wis_mod}})</p>
            <p><strong><span class="emojis">📜</span> INT: </strong> {{ character.int }} ({{ character.int_mod}})</p>
            <p><strong><span class="emojis">👑</span> CHA: </strong> {{ character.cha }} ({{ character.cha_mod}})</p>
        </h2>
        <hr>
        <h2>
            <span>
                <strong>Speed:</strong> {{ character.speed }}
            </span>
            <span>
                <strong>Size:</strong> {{ character.size }}
            </span>
            
        </h2>
    </div>
</div>
{% endif %}
