<!-- Displays character sheet on bottom of page -->

{% if character %}
<div class="character-summary", id="character-summary">
    <h2>
        {{ character.player_name.capitalize() }} is playing a 
        {{ character.race }} {{ character.char_class }} named {{ character.character_name.capitalize() }}.
    </h2>
    <p><strong>Strength:</strong> {{ character.str }}</p>
    <p><strong>Dexterity:</strong> {{ character.dex }}</p>
    <p><strong>Wisdom:</strong> {{ character.wis }}</p>
    <p><strong>Intelligence:</strong> {{ character.int }}</p>
    <p><strong>Charisma:</strong> {{ character.cha }}</p>
    <p><strong>Constitution:</strong> {{ character.con }}</p>
    <hr>
    <p><strong>Speed:</strong> {{ character.speed }}</p>
</div>
{% endif %}
