<form action="/" method="POST">
    <div> <!-- player / character name -->
        <span>
            <label for="player_name">Player name:</label>
            <input type="text" id="player_name" name="player_name" required>            
        </span>
        <span>
            <label for="character_name">Character name:</label>
            <input type="text" id="character_name" name="character_name" required>
        </span>
    <div>
    <div> <!-- race / class / background -->
        <span>
            <select name="race" id="race" required>
                <option value="" disabled selected>Select Race</option>
                {% for race in races %}
                    <option value="{{race.lower()}}">{{race.capitalize()}}</option>
                {% endfor %}
            </select>
        </span>
        <span>
            <select name="char_class" id="char_class" required>
                <option value="" disabled selected>Select Class</option>
                {% for char_class in classes %}
                    <option value="{{char_class.lower()}}">{{char_class.capitalize()}}</option>
                {% endfor %}
            </select>
        </span>
        <span>
            <select name="background_name" id="background_name" required>
                <option value="" disabled selected>Select Background</option>
                {% for background_name in backgrounds %}
                    <option value="{{background_name.lower()}}">{{background_name.capitalize()}}</option>
                {% endfor %}
            </select> 
        </span>
    </div>

    <div> <!-- dice roller / assigner name -->
        <span class="dice-roller">
            <button class="animate" type="button" onclick="rollAbilities()">Roll Ability Scores</button>
            <br>
            <span id="roleScores"></span>
        </span>
        <br>

        <span class="stat-assigner">
            <label for="strength">STR:</label>
            <select name="strength" id="strength">
            </select>
        </span>
        <span class="stat-assigner">
            <label for="dexterity">DEX:</label>
            <select name="dexterity" id="Dexterity">
            </select>
        </span>
        <span class="stat-assigner">
            <label for="constitution">CON:</label>
            <select name="constitution" id="constitution">
            </select>
        </span>
        <span class="stat-assigner">
            <label for="intelligence">INT:</label>
            <select name="intelligence" id="intelligence">
            </select>
        </span>
        <span class="stat-assigner">
            <label for="wisdom">WIS:</label>
            <select name="wisdom" id="wisdom">
            </select>
        </span>
        <span class="stat-assigner">
            <label for="charisma">CHA:</label>
            <select name="charisma" id="charisma">
            </select>
        </span>


    </div>

    <div> <!-- form submit  -->
        <button class="animate" type="submit">Create Character</button>
    </div>
</form>
