<!-- Main Form for all character selections / assignments -->
<form action="/" method="POST" class="mb-3">
    <div class="row g-3 form-margin"> <!-- player / character name -->
        <div class="col-md-6">
            <input placeholder="Player Name" type="text" id="player_name" name="player_name" class="form-control" required>            
        </div>
        <div class="col-md-6">
            <input placeholder="Character Name" type="text" id="character_name" name="character_name" class="form-control" required>
        </div>
    </div>

    <div class="mb-3 row g-3 form-margin"> <!-- race / class / background -->
        <div class="col-md-4">
            <select name="race" id="race" class="form-select" required>
                <option value="" disabled selected hidden>Select Race</option>
                {% for race in races %}
                    <option value="{{race.lower()}}">{{race.capitalize()}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <select name="char_class" id="char_class" class="form-select" required>
                <option value="" disabled selected hidden>Select Class</option>
                {% for char_class in classes %}
                    <option value="{{char_class.lower()}}">{{char_class.capitalize()}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <select name="background_name" id="background_name" class="form-select" required>
                <option value="" disabled selected hidden>Select Background</option>
                {% for background_name in backgrounds %}
                    <option value="{{background_name.lower()}}">{{background_name.capitalize()}}</option>
                {% endfor %}
            </select> 
        </div>
    </div>

    <div> <!-- dice roller / assigner -->
        <span class="dice-roller mb-1">
            <button class="animate" type="button" onclick="rollAbilities()">Roll Ability Scores</button>
            <br>
            <span id="roleScores"></span>
        </span>
        <div class="w-100 d-flex">
            <span class="stat-assigner">
                <label for="strength">STR:</label>
                <select name="strength" id="strength">
                </select>
            </span>
            <span class="stat-assigner">
                <label for="dexterity">DEX:</label>
                <select name="dexterity" id="Dexterity">
                </select>
            </span>
            <span class="stat-assigner">
                <label for="constitution">CON:</label>
                <select name="constitution" id="constitution">
                </select>
            </span>
        </div>
        <div class="w-100 d-flex">
            <span class="stat-assigner">
                <label for="intelligence">INT:</label>
                <select name="intelligence" id="intelligence">
                </select>
            </span>
            <span class="stat-assigner">
                <label for="wisdom">WIS:</label>
                <select name="wisdom" id="wisdom">
                </select>
            </span>
            <span class="stat-assigner">
                <label for="charisma">CHA:</label>
                <select name="charisma" id="charisma">
                </select>
            </span>
        </div>
    </div>

    <div class="text-center mt-3"> <!-- form submit  -->
        <button class="animate btn btn-success me-2" type="submit">Create Character</button>
    </div>
</form>

<!-- Reset form -->
<form action="{{ url_for('reset_character') }}" method="POST" class="d-flex me-2">
    <button type="submit" class="animate btn btn-danger m-auto">Reset Character</button>
</form>
