<span class="personal-links">
    <a href="https://www.dndbeyond.com/members/wasabizach"><img src="{{ url_for('static', filename='images/ampersand_logo.png') }}"><br></a>
    <a href="https://github.com/zjtheilen"><img src="{{ url_for('static', filename='images/github.png') }}"><br></a>
    <a href="https://www.linkedin.com/in/zachary-theilen/"><img src="{{ url_for('static', filename='images/linkedin.png') }}"><br></a>
    <a href="mailto:zjtheilen@gmail.com"><img src="{{ url_for('static', filename='images/gmail.png') }}"></a>
</span>