<span class="personal-links">
    <a href="https://www.dnd5eapi.co/" target="_blank"><img src="{{ url_for('static', filename='images/ampersand_logo.png') }}" alt="The Dungeons and Dragons logo"><br></a>
    <a href="https://github.com/zjtheilen" target="_blank"><img src="{{ url_for('static', filename='images/github.png') }}" alt="The Gitbub logo"><br></a>
    <a href="https://www.linkedin.com/in/zachary-theilen/" target="_blank"><img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="The LinkedIn logo"><br></a>
    <a href="mailto:zjtheilen@gmail.com" target="_blank"><img src="{{ url_for('static', filename='images/gmail.png') }}" alt="The Gmail logo"></a>
</span>