<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Level 1 Character Wizard{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        
        <div id="page-title">
            <span class="dnd-logo">
                <a href="https://www.dndbeyond.com/members/wasabizach"><img src="{{ url_for('static', filename='images/ampersand_logo.png') }}"><br></a>
                <a href="https://github.com/zjtheilen"><img src="{{ url_for('static', filename='images/github.png') }}"><br></a>
                <a href="https://www.linkedin.com/in/zachary-theilen/"><img src="{{ url_for('static', filename='images/linkedin.png') }}"><br></a>
                <a href="mailto:zjtheilen@gmail.com"><img src="{{ url_for('static', filename='images/gmail.png') }}"></a>
            </span>
            <span>
                <h1>Level 1 Character Wizard</h1>
            </span>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/rollDice.js') }}"></script>
</body>
</html>
