<!-- Actual html content -->
{% extends "base.html" %}
{% block title %}Character Creator{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if error %}
        <div class="row mb-3">
            <div class="col-12 text-center">
                {% include "partials/error.html" %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-6 mb-4">
            {% include "partials/form.html" %}
        </div>
        <div class="col-lg-6">
            <div class="output custom-shadow">
                {% include "partials/character.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
