<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Level 1 Character Wizard</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>
    <body>
        <h1 id="page-title">Let's create a level 1 character!</h1>
        {% if character %}
            <h2>
                {{ character.player_name.capitalize() }} is playing a 
                {{ character.race }} {{ character.char_class }} named {{ character.character_name.capitalize() }}.
            </h2>
        {% endif %}
        {% if error %}
            <h2 style="color: red;">{{ error }}</h2>
        {% endif %}
        <hr>
        <form action="/" method="POST">
            <label for="player_name">Player name:</label>
            <input type="text" id="player_name" name="player_name" required>

            <label for="character_name">Character name:</label>
            <input type="text" id="character_name" name="character_name" required>

            <br><br>
            <label for="race">Select Race:</label>
            <select name="race" id="race" required>
                <option value="" disabled selected value>Select Race</option>
                {% for race in races %}
                    <label for="{{race}}"></label>
                    <option value="{{race.lower()}}">{{race.capitalize()}}</option>
                {% endfor %}
            </select>
            <!-- <br><br> -->
            <label for="char_class">Select Class:</label>
            <select name="char_class" id="char_class" required>
                <option value="" disabled selected value>Select Class</option>
                {% for char_class in classes %}
                    <label for="{{char_class}}"></label>
                    <option value="{{char_class.lower()}}">{{char_class.capitalize()}}</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit">Create Character</button>
        </form>
        <hr>
    </body>
</html>