{% extends "base.html" %}
{% block title %}Character Creator{% endblock %}

{% block content %}
    {% if character %}
        <h2>
            {{ character.player_name.capitalize() }} is playing a 
            {{ character.race }} {{ character.char_class }} named {{ character.character_name.capitalize() }}.
        </h2>
    {% endif %}

    {% if error %}
        {% include "partials/error.html" %}
    {% endif %}

    <hr>
    {% include "partials/form.html" %}
    <hr>
    <div class="output">
        {% include "partials/character.html" %}
    </div>
{% endblock %}
