html{
    background-image: url(/static/images/bg.jpg);
}

body {
    max-width: 1000px;
    margin: 10px auto;
    text-align: center;
}

div {
    padding: 10px;
}

span {
    padding: 0 10px;
}

.error-message {
     color: red;
}